<div class="sidebar" #sidebar>
    <h1 class="sidebar__title">Pathfinding</h1>
    <div class="sidebar__parameters">
        <app-single-select [label]="'Solving algorithm'" [options]="iterableSolvingAlgorithm" [enum]="solvingAlgorithm">
        </app-single-select>

        <app-single-select [label]="'Maze generation'" [options]="iterableMazeGenerationAlgorithm"
            [enum]="mazeGenerationAlgorithm">
        </app-single-select>
        <app-single-select [label]="'Speed'" [options]="iterableSpeed" [enum]="speed">
        </app-single-select>

    </div>
    <div class="sidebar__buttons">
        <div class="button" (click)="clearWall()" >Clear all <img src="/assets/reset.svg"> </div>
        <div class="button">Generate maze <img src="/assets/generate.svg"> </div>
        <div class="button button--start" (click)="start()" >Start <img src="/assets/start.svg"> </div>
    </div>
</div>