<div class="sidebar">
    <h1 class="sidebar__title">Pathfinding</h1>
    <div class="sidebar__parameters">
        <div class="parameters__item">
            <label>Solving algorithm</label>
            <select>
                <option>DFS</option>
                <option>BFS</option>
                <option>A*</option>
                <option>Greedy Best First</option>
                <option>Dijkstra</option>
            </select>
        </div>
        <div class="parameters__item">
            <label>Maze generator</label>
            <select>
                <option>Randomized DFS</option>
                <option>Randomized Kruskal</option>
                <option>Randomized Prim's</option>
                <option>Wilson's</option>
                <option>Recursive division</option>
                <option>Aldous-Broder</option>
            </select>
        </div>
        <div class="parameters__item">
            <label>Speed</label>
            <select>
                <option>Slow</option>
                <option>Normal</option>
                <option>Fast</option>
            </select>
        </div>

    </div>
    <div class="sidebar__buttons">
        <div class="button">Clear all</div>
        <div class="button">Generate maze</div>
        <div class="button">Start</div>
    </div>
</div>